* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gray-900: #172b4d;
  --gray-700: #5e6c84;
  --gray-600: #828586;
  --gray-500: #a9aaab;
  --gray-400: #ced1d3;
  --gray-300: #ebecf1;
  --gray-200: #f4f5f7;

  --green-500: #5aac44;
  
  --white: #ffffff
}

body {
  background-color: #f8f8f8;
  color: #29292e;
}

body, input, button, textarea {
  font: 400 16px 'Roboto', sans-serif;
}